ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
/* ===== header===== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.container-header {
    display: flex;
   align-items: center;
}
.page-navigation {
    display: flex;
    align-items: center;
    
}
.page-logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}
.text-color {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.navigation-menu {
    display: flex;
    gap: 40px;
}

.navigation-menu-item {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.navigation-menu-link:active{
    color: #404bbf;
}
    
.current {

}


.page-address-menu {
    display: flex;
    gap: 40px;
}

.navigation-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.navigation-menu-link:hover,
.navigation-menu-link:focus {
    color: #404bbf;
}    
.page-address {
    font-style: normal;
    font-size: normal;
        margin-left: auto;
}
.age-address-menu {
    display: flex;
    gap: 40px;
}
.page-address-menu-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.page-address-menu-link:hover,
.page-address-menu-link:focus {
    color: #404bbf;
}




/* ======box-one========= */
.main-box-one {
    max-width: 1440px;
     height: 600px;
    padding: 188px 0;
    background: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        display: block;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
       
        
}
.order-service {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
        display: block;
        margin: auto;
        gap: 48px;
        min-width: 169px;
        border: 0;
        border-radius: 4px;
        padding: 16px 32px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus {
    background-color: #404bbf;
}

/* ======== box-two======== */
.main-box-two {
    padding: 120px 0;

}
.main-fearte-menu {
    display: flex;
    gap: 24px;
}
.fearte-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px
}
.fearte-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.main-fearte-menu-item {
    width: calc((100% - 72px) / 4);
}
.social-feater-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
     background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}


/* ==== box-three===== */
.main-box-three {
    background: #f4f4fd;
    padding: 120px 0;
}
.main-team {

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;

}

.main-team-menu {
    display: flex;
    gap: 24px;
    text-align: center;
}
.main-team-menu-item {
    background-color: #ffffff;
    width: calc((100 - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08)
}

.team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
       
} 
.team-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
        margin-bottom: 8px;
}
.team-container {
    padding: 32px 0;

}
.social-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-team-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-team-item {
width: 40px;
height: 40px;
}
.social-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.social-icons:hover,
.social-icons:focus {
    background-color: #404bbf;
}
.social-team-icons {
    height: 16;
}


/* ==== section four======= */ 
.main-box-four {
    padding: 120px 0;
}
.main-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
       
}
.main-portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}
.main-portfolio-menu-item {
    background: #ffffff;
    width: calc((100% - 48px) / 3);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1);
}
.main-portfolio-menu-item:hover  {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transform: translateY(0%);
}

.container-portfolio {
position: relative;
overflow: hidden;
}
.container-portfolio:hover .portfolio-list-text{
    transform: translateY(0%);
}
.portfolio-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    }
    
.info-portfolio {
            padding: 32px 16px;
            border: 1px solid #e7e9fc;
            border-top: none;
        }

.portfolio-list-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #f4f4fd;
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/* ------- Footer======== */

.page-footer {
background: #2e2f42;
padding: 100px 0;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
}
.logo-footer-color {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.footer-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}
.social-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.container-footer-logo {
    margin-right: 120px;  
}
.ontainer-social {
    margin-right: 80px;
}
.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-footer-menu {
    display: flex;
    gap: 16px;
    
   
}
.social-footer-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.social-item:hover,
.social-item:focus {
    background-color: #31d0aa;
}
.social-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-footer {
  margin-left: 80px;

}
.input-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.form-footer {
    display: flex;
    width: 264px;
    height: 40px;
    gap: 24px;

}

.form-input-footer {
    background-color: transparent; 
    border: 1px solid #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    color: #ffffff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-footer::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
}

.form-button-footer {
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    color: #fff;
    align-self: flex-start;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button-footer:hover { 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #404bbf;
}
.form-button-icons {
    margin-left: 16px;
}

    


/* ======= Cтилізація елементів====*/
 :root {
     --primary-brand: #4d5ae5;
     --dark: #2e2f42;
     --success: #31d0aa;
     --text: #434455;
     --subtletext: #8e8f99;
     --accent: #e7e9fc;
     --light: #f4f4fd;
     --ftr: #31d0aa;
     --ocean: #404bbf;
     --trasition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     --main-font: Roboto, sans-serif;
     --secondary-font: Raleway, sans-serif;
 }

 body {
     font-family: var(--main-font);
     color: var(--text);
     background-color: #ffffff;
     font-size: 16px;
     letter-spacing: 0.02em;}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
* {
    box-sizing: border-box;
}


.backdrop {
    position: fixed;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke: #4d5ae5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}
.modal-close-button-icons {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
/* .model-close-button-icons:hover,
.model-close-button-icons:focus {
    fill: #ffffff */

.modal-close-button:hover .model-close-button-icons,
.modal-close-button:focus .model-close-button-icons {
    fill: #ffffff; 
}


.modal-text {
        max-width: 360px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
        margin-top: 68px;
        margin-left: 24px;
       
}
.from-modal {
    
}
.modal-container {
    margin-bottom: 8px;
   
}
.form-label-modal {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
        
}

.form-input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.form-input-modal:focus {
    border-color: #4d5ae5;

}
.modal-container-input {
    position: relative;
}
.modal-form-icons {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   stroke: #434455;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-modal:focus + .modal-form-icons {
    fill: #4D5AE5;
}
.modal-container-message {
    margin-bottom: 16px;
    width: 100%;
}
.form-input-message {
        width: 100%;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        resize: none;
        padding: 8px 16px;
        outline: transparent;
        border-color: #4D5AE5;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-message:focus {
    border-color: #4d5ae5;

   
}
.form-input-message::placeholder {
    font-size: 18px;
    letter-spacing: -0.02em;
    line-height: 1.17;
    color: rgba(64, 64, 64, 0.3);
    width: 100%;
    
} 
.modal-checkbox-label {
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #8e8f99;
        line-height: 1.17;
}
.modal-checkbox {
    margin-bottom: 24px;
}
.form-checkbox-own {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked+.modal-checkbox-label > .form-checkbox-own {
        fill: #f4f4fd;
        background-color: #404bbf;
        border: none;
}
.form-checkbox:focus+.modal-checkbox-label .form-checkbox-own {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}
.privacy-policy-link {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
}
.form-button-submit {
    display: block;
        border-radius: 6px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        border: none;
        background: #4d5ae5;
        color: #ffffff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
        
}
.form-button-submit:hover,
.form-button-submit:focus {
    color: #f4f4fd;
    background-color: #404bbf;
}