ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img {
    display: block;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
/* ===== header===== */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.container-header {
    display: flex;
   align-items: center;
}
.page-navigation {
    display: flex;
    align-items: center;
    unicode-bidi: isolate;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}
.page-logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}
.text-color {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.navigation-menu {
    display: flex;
    gap: 40px;
}

.navigation-menu-item {
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.navigation-menu-link:active{
    color: #404bbf;
}
    
.current {

}
.current::after {
    content: "";
width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
}
.page-address-menu {
    display: flex;
    gap: 40px;
}

.navigation-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
    color: #404bbf;
}    
.page-address {
    font-style: normal;
    font-size: normal;
        margin-left: auto;
}
.page-address-menu-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.page-address-menu-link:hover,
.page-address-menu-link:focus {
    color: #404bbf;
}




/* ======box-one========= */
.main-box-one {
    max-width: 1440px;
     height: 600px;
    padding: 188px 0;
    background: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        display: block;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
       
        
}
.order-service {
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;
        cursor: pointer;
        display: block;
        margin: auto;
        gap: 48px;
        min-width: 169px;
        border: 0;
        border-radius: 4px;
        padding: 16px 32px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service:hover,
.order-service:focus {
    background-color: #404bbf;
}

/* ======== box-two======== */
.main-box-two {
    padding: 120px 0;

}
.main-fearte-menu {
    display: flex;
    gap: 24px;
}
.fearte-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px
}
.fearte-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.main-fearte-menu-item {
    width: calc((100% - 72px) / 4);
}
.social-feater-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
     background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}


/* ==== box-three===== */
.main-box-three {
    background: #f4f4fd;
    padding: 120px 0;
}
.main-team {

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;

}

.main-team-menu {
    display: flex;
    gap: 24px;
    text-align: center;
}
.main-team-menu-item {
    background-color: #ffffff;
    width: calc((100 - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08)
}

.team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
       
} 
.team-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        text-align: center;
}
.team-container {
    padding: 32px 0;

}
.social-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-team-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.social-team-item {
width: 40px;
height: 40px;
}
.social-icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.social-icons:hover,
.social-icons:focus {
    background-color: #404bbf;
}
.social-team-icons {
    height: 16;
}


/* ==== section four======= */ 
.main-box-four {
    padding: 120px 0;
}
.main-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
       
}
.main-portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;

}
.main-portfolio-menu-item {
    background: #ffffff;
    width: calc((100% - 48px) / 3);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1);
}
.main-portfolio-menu-item:hover  {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transform: translateY(0%);
}
.container-portfolio .portfolio-list-text {
    transform: translateY(0%);
}
.container-portfolio {
position: relative;
overflow: hidden;
}
.portfolio-title {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    
}
.portfolio-list-text {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #f4f4fd;
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 40px 32px;
        background-color: #4d5ae5;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}



/* ------- Footer======== */

.page-footer {
background: #2e2f42;
padding: 100px 0;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
}
.logo-footer-color {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.footer-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
        margin-bottom: 16px;
}
.social-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}
.footer-container {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}
.container-footer-logo {
    width: 1158px;
    margin-right: 120px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

    margin-bottom: 16px;
}

.social-footer-menu {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
   
}
.social-footer-item {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.social-item:hover,
.social-item:focus {
    background-color: #31d0aa;
}
.social-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* ======= Cтилізація елементів====*/
 :root {
     --primary-brand: #4d5ae5;
     --dark: #2e2f42;
     --success: #31d0aa;
     --text: #434455;
     --subtletext: #8e8f99;
     --accent: #e7e9fc;
     --light: #f4f4fd;
     --ftr: #31d0aa;
     --ocean: #404bbf;
     --trasition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
     --main-font: Roboto, sans-serif;
     --secondary-font: Raleway, sans-serif;
 }

 body {
     font-family: var(--main-font);
     color: var(--text);
     background-color: #ffffff;
     font-size: 16px;
     letter-spacing: 0.02em;}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

.backdrop {
width: 100%;
height: 100%;
background-color: #5e5f6b9e;
position: fixed;
top: 0;
left: 0;
opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e7e9fc;
}
.backdrop.is-open {
    opacity: 1;
        visibility: visible;
        pointer-events: auto;
}
   





 <div class="info-portfolio">